In [2]:
import pandas as pd
import plotly as pl
import ipywidgets as widgets

from common import *

In [5]:
df = pd.read_csv(f'{get_root()}/data/data.csv', index_col=0)
df.head()

,date,day,month,year,cases,deaths,country,geoId,population,tot_deaths,tot_cases
0,2020-04-12,12,4,2020,34,3,Afghanistan,AF,37172386.0,18,555
1,2020-04-11,11,4,2020,37,0,Afghanistan,AF,37172386.0,15,521
2,2020-04-10,10,4,2020,61,1,Afghanistan,AF,37172386.0,15,484
3,2020-04-09,9,4,2020,56,3,Afghanistan,AF,37172386.0,14,423
4,2020-04-08,8,4,2020,30,4,Afghanistan,AF,37172386.0,11,367

### New cases in time

* Ability to select date period for the graph