In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
import sys
sys.path.append('/home/fero/wspace/data-science/corona')

In [13]:
import procdata
import pandas as pd

In [10]:
covid_df = procdata.get_covid_df()

In [31]:
url = 'https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv'
df = pd.read_csv(url, nrows=1)
dtypes = {col: 'float' if col.endswith('baseline') else 'object' for col in df.columns}
df

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0,4,5,0,2,1

In [32]:
url = 'https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv'

df = pd.read_csv(url, dtype=dtypes)
df
# covid_countries = covid_df[['country_id', 'country']].drop_duplicates()

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
224142,ZW,Zimbabwe,NaN,NaN,2020-04-07,-64.0,-52.0,-49.0,-78.0,-67.0,42.0
224143,ZW,Zimbabwe,NaN,NaN,2020-04-08,-62.0,-51.0,-51.0,-78.0,-66.0,41.0
224144,ZW,Zimbabwe,NaN,NaN,2020-04-09,-60.0,-47.0,-47.0,-77.0,-66.0,41.0
224145,ZW,Zimbabwe,NaN,NaN,2020-04-10,-70.0,-57.0,-53.0,-82.0,-78.0,48.0
224146,ZW,Zimbabwe,NaN,NaN,2020-04-11,-69.0,-56.0,-48.0,-81.0,-58.0,36.0

In [15]:
df

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
224142,ZW,Zimbabwe,NaN,NaN,2020-04-07,-64.0,-52.0,-49.0,-78.0,-67.0,42.0
224143,ZW,Zimbabwe,NaN,NaN,2020-04-08,-62.0,-51.0,-51.0,-78.0,-66.0,41.0
224144,ZW,Zimbabwe,NaN,NaN,2020-04-09,-60.0,-47.0,-47.0,-77.0,-66.0,41.0
224145,ZW,Zimbabwe,NaN,NaN,2020-04-10,-70.0,-57.0,-53.0,-82.0,-78.0,48.0
224146,ZW,Zimbabwe,NaN,NaN,2020-04-11,-69.0,-56.0,-48.0,-81.0,-58.0,36.0

In [6]:
procdata.get_final_df()

/home/fero/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3325: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,date,day,month,year,cases,deaths,country,country_id,population,tot_deaths,tot_cases,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,2020-04-19,19,4,2020,63,0,Afghanistan,AF,37172386.0,30,908,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-04-18,18,4,2020,51,1,Afghanistan,AF,37172386.0,30,845,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-04-17,17,4,2020,10,4,Afghanistan,AF,37172386.0,29,794,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-04-16,16,4,2020,70,2,Afghanistan,AF,37172386.0,25,784,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-04-15,15,4,2020,49,2,Afghanistan,AF,37172386.0,23,714,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11763,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,14439018.0,1,2,-18.0,3.0,-16.0,-25.0,-20.0,15.0
11764,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,14439018.0,1,2,-7.0,14.0,-13.0,-17.0,-10.0,9.0
11765,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,14439018.0,0,2,-5.0,10.0,-9.0,-17.0,5.0,6.0
11766,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,14439018.0,0,2,-8.0,3.0,-11.0,-21.0,6.0,7.0
11767,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,14439018.0,0,1,-5.0,8.0,-6.0,-16.0,7.0,4.0

In [17]:
sys.path

['/home/fero/wspace/data-science/corona/nbs',
 '/home/fero/anaconda3/lib/python37.zip',
 '/home/fero/anaconda3/lib/python3.7',
 '/home/fero/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/home/fero/anaconda3/lib/python3.7/site-packages',
 '/home/fero/wspace/patmap/patmap',
 '/home/fero/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/home/fero/.ipython',
 '..',
 '/home/fero/wspace/data-science/corona']

In [72]:
import pandas as pd

In [133]:
import procdata
covid_df = procdata.get_covid_data()
covid_df.head()

,date,day,month,year,cases,deaths,country,country_id,population,tot_deaths,tot_cases
0,2020-04-18,18,4,2020,51,1,Afghanistan,AF,37172386.0,30,845
1,2020-04-17,17,4,2020,10,4,Afghanistan,AF,37172386.0,29,794
2,2020-04-16,16,4,2020,70,2,Afghanistan,AF,37172386.0,25,784
3,2020-04-15,15,4,2020,49,2,Afghanistan,AF,37172386.0,23,714
4,2020-04-14,14,4,2020,58,3,Afghanistan,AF,37172386.0,21,665

In [134]:
gm_df = procdata.get_google_mobility_data(covid_df)
gm_df.head()

/home/fero/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3248: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,country,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,United Arab Emirates,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,United Arab Emirates,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,United Arab Emirates,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,United Arab Emirates,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,United Arab Emirates,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [135]:
df = covid_df.join(gm_df.set_index(['country', 'date']), on=['country', 'date'])

,date,day,month,year,cases,deaths,country,country_id,population,tot_deaths,tot_cases,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,2020-04-18,18,4,2020,51,1,Afghanistan,AF,37172386.0,30,845,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-04-17,17,4,2020,10,4,Afghanistan,AF,37172386.0,29,794,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-04-16,16,4,2020,70,2,Afghanistan,AF,37172386.0,25,784,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-04-15,15,4,2020,49,2,Afghanistan,AF,37172386.0,23,714,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-04-14,14,4,2020,58,3,Afghanistan,AF,37172386.0,21,665,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11558,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,14439018.0,1,2,-18.0,3.0,-16.0,-25.0,-20.0,15.0
11559,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,14439018.0,1,2,-7.0,14.0,-13.0,-17.0,-10.0,9.0
11560,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,14439018.0,0,2,-5.0,10.0,-9.0,-17.0,5.0,6.0
11561,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,14439018.0,0,2,-8.0,3.0,-11.0,-21.0,6.0,7.0
11562,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,14439018.0,0,1,-5.0,8.0,-6.0,-16.0,7.0,4.0

In [103]:
url = 'https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv'
df = pd.read_csv(url)

/home/fero/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [104]:
covid_countries = covid_df[['country_id', 'country']].drop_duplicates()

df = df.join(covid_countries.set_index('country_id'), on='country_region_code')
df['country_region'] = df[['country', 'country_region']].fillna(method='bfill', axis=1).iloc[:, 0]
df.head()

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,country
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0,United Arab Emirates
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0,United Arab Emirates
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0,United Arab Emirates
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0,United Arab Emirates
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0,United Arab Emirates

In [105]:
del df['country']
del df['country_region_code']
df = df[pd.isna(df['sub_region_1'])]

In [112]:
df = df.rename(columns={'country_region': 'country'})

In [118]:
df = df[df['country'].isin(covid_countries['country'])]

In [119]:
df

,country,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,United Arab Emirates,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,United Arab Emirates,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,United Arab Emirates,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,United Arab Emirates,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,United Arab Emirates,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
...,...,...,...,...,...,...,...,...
224142,Zimbabwe,2020-04-07,-64.0,-52.0,-49.0,-78.0,-67.0,42.0
224143,Zimbabwe,2020-04-08,-62.0,-51.0,-51.0,-78.0,-66.0,41.0
224144,Zimbabwe,2020-04-09,-60.0,-47.0,-47.0,-77.0,-66.0,41.0
224145,Zimbabwe,2020-04-10,-70.0,-57.0,-53.0,-82.0,-78.0,48.0
224146,Zimbabwe,2020-04-11,-69.0,-56.0,-48.0,-81.0,-58.0,36.0